@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <h1 class="display-4">LuxVoiture</h1>

    <div>
        <input type="text" id="lx_email" class="gwd-input-178w" placeholder="email">
        <input type="password" id="lx_password" class="gwd-input-1vf9" placeholder="password">
        <button id="lx_signin_button" class="gwd-button-jmum">Sign In</button>
        <p class="gwd-p-whm2">If you don't have an account, you can <a href="@Url.Action("SignUp", "User")">sign up</a>.</p>
    </div>
    
</div>
